[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/drf_venv/bin/uwsgi -i /home/ubuntu/DRF_WEB/.config/uwsgi/DRFWEBSITE.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target